/* :::::ESTILOS GLOBALES::::: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "AvenirNextLTPro";
  src: url("./font/AvenirNextLTPro-Regular.otf");
}

:root {
  --primary: #62ea1b80;
  --secondary: #252525;
}

body {
  min-height: 100vh;
  background-size: 7%;
  background-color: #222;
  background-repeat: repeat;
  font-family: "AvenirNextLTPro", sans-serif;
  background-image: url("/public/imgEspace.png");
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border: none;
  outline: none;
}

input::placeholder {
  color: #7e7e7e;
}

li {
  list-style: none;
}

textarea {
  width: 100%;
  padding: 10px;
}

select,
option {
  border: none;
  outline: none;
}

textarea {
  outline: none;
}

img {
  width: 100%;
  object-fit: cover;
}

label {
  color: #fff;
  margin-bottom: 3px;
}

p {
  color: #fff;
  text-align: center;
}

button {
  width: 100%;
  height: 30px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  background-color: var(--primary);
}

button:hover {
  background-color: #5fcb25;
}

table {
  width: 100%;
  overflow: auto;
}

th {
  color: #fff;
  border: "1px solid #fff";
  font-size: 0.7rem;
}

/* :::::ESTILOS PARA LAS CLASES::::: */
.container {
  width: 100%;
  margin: auto;
  padding: 40px;
  display: block;
  max-width: 600px;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
  background-color: var(--secondary);
  box-shadow: -5px 5px var(--primary);
  z-index: 100;
}

/* :::::ESTILO LOGO::::: */
.logo {
  margin: 30px auto;
  display: block;
  max-width: 220px;
}

/* :::::ESTILO TITULO::::: */
.title {
  color: #fff;
  margin: 10px 0;
  text-align: center;
}

/* :::::ESTILO FORMULARIO::::: */
.container_form {
  display: flex;
  row-gap: 15px;
  flex-direction: column;
}

.description {
  margin: 10px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

/* :::::ESTILO INPUT::::: */
.input {
  width: 100%;
  height: 35px;
  padding: 10px;
  border-radius: 1px;
  transition: 0.2s all linear;
  border-left: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  z-index: 100;
}

/* :::::ESTILO SELECT::::: */
.select {
  width: 100%;
  height: 35px;
  padding: 0 5px;
  border-radius: 1px;
  border-left: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  z-index: 100;
}

.select:focus {
  border-left: 0px solid var(--primary);
  border-bottom: 0px solid var(--primary);
}

.container_checkbox {
  display: flex;
  margin-right: auto;
  flex-direction: column;
}

.form_check {
  display: flex;
  flex-direction: column;
}

.flex-row {
  width: 100%;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.container_textarea {
  width: 100%;
}

.textarea {
  border-radius: 5px;
  border-left: 3px solid var(--primary);
}

.file {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #646464;
}

.container_file {
  display: flex;
  width: 100%;
  row-gap: 10px;
  flex-direction: column;
  column-gap: 5px;
}

.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-radius: 10px;
  border-left: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  color: #444;
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.drop-container:hover {
  border-color: #111;
  border: 2px solid var(--primary);
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

input[type="file"] {
  color: #fff;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  color: #fff;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #0d45a5;
}

/* :::::ESTILO PARA LOS COMPONENTES::::: */
.inputText {
  width: 100%;
  display: flex;
  margin: 5px 0;
  flex-direction: column;
}

.btn-next {
  width: auto;
  height: 30px;
  display: flex;
  color: #fff;
  padding: 5px 10px;
  margin-top: 10px;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  background-color: #5fcb25;
  border-top: 3px solid #59b02a;
  border-right: 3px solid #59b02a;
  border-left: 3px solid #59b02a;
  border-bottom: 3px solid #59b02a;
  border-radius: 2px;
  transition: 0.1s all linear;
  z-index: 100;
}

.btn-next:hover {
  border-top: 1px solid #59b02a;
  border-right: 1px solid #59b02a;
  border-bottom: 1px solid #59b02a;
}

/* :::::RESPONSIVE::::: */
@media screen and (max-width: 500px) {
  .flex-row {
    row-gap: 10px;
    flex-direction: column;
  }
}
